

<!-- this file is called Details.cshtml-->

@using Book_Store.Data
@model Book
<br>
<br>
<br>
<br>
<h2 style="font-family: 'Abril Fatface', cursive;">Book Details: </h2>

<div class="card" style="width: 25rem; padding: 15px;">
    <div class="card-body">
        <h4 class="card-title">@Model.Title</h4>
        <br>
        <p class="card-text"><strong>Author:</strong> @Model.Author</p>
        <p class="card-text"><strong>Category:</strong> @Model.Category</p>
        <p class="card-text"><strong>Description:</strong> @Model.Description</p>
        <br>
        <p class="card-text"><strong>Price:</strong> @Model.Price.ToString("C")</p>

        <form asp-action="PlaceOrder" method="post">
            <input type="hidden" name="id" value="@Model.Id" />

            <div class="mb-2">
                <label for="UserNumber" class="form-label">Enter your WhatsApp number:</label>
                <input type="text"
                       name="UserNumber"
                       class="form-control"
                       placeholder="01XXXXXXXXX"
                       required
                       pattern="01[0-9]{9}"
                       title="Enter a valid WhatsApp number in the format: 01XXXXXXXXX (11 digits)" />
            </div>


            <div class="mb-2">
                <label for="Copies" class="form-label">Number of Copies</label>
                <input type="number" name="Copies" class="form-control" min="1" value="1" required />
            </div>

            <button type="submit" class="btn btn-success">Place Order</button>
        </form>

    </div>
</div>

