@using Book_Store.Data
@model List<Book>
<h2>Books List</h2>

<p>
    <a asp-action="Create" class="btn btn-success">➕ Create New Book</a>
</p>

<div class="row">
    @foreach (var book in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">@book.Title</h5>
                    <p class="card-text"><strong>Price:</strong> @book.Price.ToString("C")</p>
                    <p class="card-text"><strong>Author:</strong> @book.AuthorName</p>
                    <p class="card-text"><strong>Category:</strong> @book.Category</p>
                    <p class="card-text"><strong>Description:</strong> @book.Description</p>

                </div>
                <div class="card-footer text-center">
                    <a asp-action="Details" asp-route-id="@book.Id" class="btn btn-info btn-sm">Details</a>
                    <a asp-action="Edit" asp-route-id="@book.Id" class="btn btn-warning btn-sm">Edit</a>
					<td>
						<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal-@book.Id">
							<i class="fas fa-trash"></i> Delete
						</button>

						<div class="modal fade" id="DeleteModal-@book.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h1 class="modal-title fs-5" id="exampleModalLabel">Delete Student</h1>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										Are You Sure to Delete This Book?
									</div>
									<div class="modal-footer">
										<form asp-action="Delete" asp-route-id="@book.Id" class="mt-4">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
											<input type="submit" value="Delete" class="btn btn-danger" />
										</form>
									</div>
								</div>
							</div>
						</div>


					</td>
                </div>

            </div>
        </div>
    }
</div>

